.active {
  color: white !important;
  background-color: black !important;

  --mdc-list-list-item-label-text-color: white;
  --mdc-list-list-item-focus-label-text-color: white;
  --mdc-list-list-item-hover-label-text-color: white;
}

.active .mdc-list-item__content span {
  color: white !important;
}

mat-icon {
  margin-right: 6px;
}

::ng-deep {
  .mat-mdc-list-item-unscoped-content {
    display: flex;
  }
}
