<form [formGroup]="form"
      (ngSubmit)="submit()">
  <div *ngFor="let field of fields">
    <ng-container *ngTemplateOutlet="formField; context: {field: field}"></ng-container>
  </div>
  <div class="flex justify-end">
    <button mat-raised-button
            color="primary"
            type="submit">Save
    </button>
  </div>

  <ng-template #formField
               let-field="field">

    <ng-container [ngSwitch]="field?.type">
      <div *ngSwitchCase="'html'" class="ckeditor">
        <mat-label>{{field?.label}}</mat-label>
        <ckeditor [formControlName]="field?.name"
                  [editor]="Editor"></ckeditor>
      </div>

      <mat-form-field *ngSwitchCase="'text'">
        <mat-label>{{field?.label}}</mat-label>
        <textarea matInput
                  [formControlName]="field?.name"></textarea>
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'timestamp'">
        <mat-label>{{field?.label}}</mat-label>
        <input matInput
               [formControlName]="field?.name"
               [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix
                               [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi
                        #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field *ngSwitchDefault>
        <mat-label>{{field?.label}}</mat-label>
        <input matInput
               [formControlName]="field?.name"
               [placeholder]="field?.placeholder">
      </mat-form-field>
    </ng-container>

  </ng-template>

</form>
