:host {
  height: 100%;
  display: block;
}

.layout-container {
  height: 100%;
}

.logo {
  max-height: 2.5rem;
}

mat-sidenav {
  width: 15%;
}

.user-toolbar {
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

.page-content {
  padding: 1rem;
  margin-top: 4em;
}

.navbar-top {
  position: fixed;
  top: 0;
  width: 85%;
  z-index: 2;
}

.loading-box {
  height: 100%;
}

mat-button-toggle-group {
  font-size: 1rem;
}

button.active {
  background-color: rgba(255, 255, 255, 0.1);
}
